<footer class="footer">
    <div class="container grid grid--5-cols">
        <div class="logo-col">
            <a href="#">
                <img src="../../assets/img/omnifood-logo.png" alt="Omnifood logo" class="logo">
            </a>
            <ul class="social-links">
                <li>
                    <a href="#">
                        <TIcon icon="streamline:instagram"></TIcon>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <TIcon icon="mingcute:facebook-fill"></TIcon>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <TIcon icon="ri:twitter-line"></TIcon>
                    </a>
                </li>
            </ul>
            <p class="copyright">Copyright &copy; 2027 by Omnifood. All right reserved</p>
        </div>
        <div class="address-col">
            <address class="contacts">
                <p>
                    623 Harrison St., 2nd Floor, San Francisco, CA 94107
                </p>
                <p>
                    <a href="tel:415-201-6370">415-201-6370</a><br/>
                    <a href="mailto:hello@omnifood.com">hello@omnifood.com</a>
                </p>
            </address>
        </div>
        <div class="nav-col">
            <p class="footer-heading">Account</p>
            <ul class="footer-nav">
                <li><a href="#">Create account</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="#">iOS app</a></li>
                <li><a href="#">Android app</a></li>
            </ul>
        </div>
        <div class="nav-col">
            <p class="footer-heading">Company</p>
            <ul class="footer-nav">
                <li><a href="#">About Omnifood</a></li>
                <li><a href="#">For Business</a></li>
                <li><a href="#">Cooking partners</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="nav-col">
            <p class="footer-heading">Resources</p>
            <ul class="footer-nav">
                <li><a href="#">Recipe directory</a></li>
                <li><a href="#">Help center</a></li>
                <li><a href="#">Privacy & terms</a></li>
            </ul>
        </div>
    </div>
</footer>